name: Build Preview

on:
  pull_request:

jobs:
  release:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      CSC_FOR_PULL_REQUEST: true

    strategy:
      matrix:
        include:
          - os: windows-latest
            build_script: build:win
            artifact_name: Biowatch-preview-windows
            artifact_path: dist/Biowatch-setup.exe
          - os: macos-latest
            build_script: build:mac
            artifact_name: Biowatch-preview-macos
            artifact_path: dist/Biowatch.dmg
          - os: ubuntu-22.04
            build_script: build:linux:appimage:preview
            artifact_name: Biowatch-preview-linux-appimage
            artifact_path: dist/*.AppImage
          - os: ubuntu-22.04
            build_script: build:linux:deb:preview
            artifact_name: Biowatch-preview-linux-deb
            artifact_path: dist/*.deb

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Install Node.js dependencies
        run: |
          npm install

      - name: Build application
        env:
          CSC_LINK: ${{ matrix.os == 'macos-latest' && secrets.APPLE_SIGNING_CERTIFICATE_BASE64 || '' }}
          CSC_KEY_PASSWORD: ${{ matrix.os == 'macos-latest' && secrets.APPLE_SIGNING_CERTIFICATE_PASSWORD || '' }}
          APPLE_ID: ${{ matrix.os == 'macos-latest' && secrets.APPLE_ID || '' }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ matrix.os == 'macos-latest' && secrets.APPLE_APP_SPECIFIC_PASSWORD || '' }}
          APPLE_TEAM_ID: ${{ matrix.os == 'macos-latest' && secrets.APPLE_TEAM_ID || '' }}
        run: npm run ${{ matrix.build_script }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_path }}
